@use "variables" as variable;
@use "mixins";

// ---------------------------------------------------------------------------
// Headings
// ---------------------------------------------------------------------------

.css-heading--h1 {
  font-family: variable.$font-family-heading;
  font-size: 40px;
  line-height: 110%;
  font-weight: 800;
  letter-spacing: -0.04em;

  @media (min-width: 768px) {
    font-size: 52px;
    line-height: 112%;
    letter-spacing: -0.02em;
  }

  @media (min-width: 1024px) {
    font-size: 64px;
    line-height: 112%;
    letter-spacing: -0.02em;
  }
}

.css-heading--h2 {
  font-family: variable.$font-family-heading;
  font-size: 36px;
  line-height: 110%;
  font-weight: 800;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 42px;
    line-height: 110%;
    font-weight: 800;
  }

  @media (min-width: 1024px) {
    font-size: 48px;
    line-height: 120%;
    font-weight: 600;
  }
}

.css-heading--h3 {
  font-family: variable.$font-family-heading;
  font-size: 28px;
  line-height: 120%;
  font-weight: 600;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 1024px) {
    font-size: 32px;
  }
}

// ---------------------------------------------------------------------------
// Body
// ---------------------------------------------------------------------------

.css-body--xl-500 {
  font-size: 20px;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.css-body--xl-400 {
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.css-body--lg-500 {
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.css-body--lg-400 {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.css-body--md-400 {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.css-body--re-400 {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: -0.02em;
}

// ---------------------------------------------------------------------------
// Misc
// ---------------------------------------------------------------------------

.css-misc--label {
  font-size: 12px;
  line-height: 120%;
  font-weight: 500; // Medium
  letter-spacing: -0.02em; // -2%
}

.css-misc--button {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600; // Semi Bold
  letter-spacing: -0.04em; // -4%
}

.css-misc--extra {
  font-size: 20px;
  line-height: normal;
  font-weight: 400; // Regular
  letter-spacing: 0; // 0%
}
